.contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: start;
}
.deleteContact {
  margin-top: 16px;
  width: 80px;
  height: 20px;
  color: rgb(225, 102, 2);
}
